
<div id="main" ng-controller="myCtrl">
    <!----------------------------------------  Intro Section -------------------------------------- -->
    <section id="intro">
        <div class="about-page">
            <div class="container text-lg-left bg-white rounded shadow container-about p-4">
                <div id="contact" class="section-bg wow fadeInUp text-center">
                    <div class="container">
                      <div class="section-header">
                        <h3>Contact Us</h3>
                        <div class="row">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.863855881452!2d105.74459841529051!3d21.038132792833423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1642132421933!5m2!1svi!2s"
                                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                      </div>
                
                      <div class="row contact-info">
                
                        <div class="col-md-4">
                          <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                            <address>Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
                            </address>
                          </div>
                        </div>
                
                        <div class="col-md-4">
                          <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+155895548855">0965-528-JQK</a></p>
                          </div>
                        </div>
                
                        <div class="col-md-4">
                          <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:info@example.com">vuddph14036@fpt.edu.vn</a></p>
                          </div>
                        </div>
                
                      </div>
                
                      <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validation"></div>
                            </div>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                          </div>
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                              data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                          <div class="text-center" data-toggle="modal" data-target="#modelId"><button type="button"
                              class="btn btn-outline-success">Send Message</button></div>
                          <!-- Button trigger modal -->
                
                          <!-- Modal -->
                          <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Contact Us</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  Send Message Done!!!
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                
                    </div>
                  </div><!-- #contact -->
            </div>
        </div>
    </section>
</div>