    <!----------------------------------------  Intro Section -------------------------------------- -->
<div class="div" ng-controller="myCtrl">
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 footer-info">
                        <div class="row">
                            <div class="my-2 col-12">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.863855881452!2d105.74459841529051!3d21.038132792833423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1642132421933!5m2!1svi!2s"
                                    style="border:0;" allowfullscreen="" loading="lazy" class="col"></iframe>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 footer-contact">
                        <div class="information">
                            <h4 class="mt-3 mb-3">Address</h4>
                            <p>
                                Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
                            </p>
                        </div>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="ti-twitter-alt"></i></a>
                            <a href="#" class="facebook"><i class="ti-facebook"></i></a>
                            <a href="#" class="instagram"><i class="ti-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="ti-google"></i></a>
                            <a href="#" class="linkedin"><i class="ti-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-contact">
                        <h4 class="mt-3 mb-3">Phone Number</h4>
                        <p>0965528JQK</p>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-contact">
                        <h4 class="mt-3 mb-3">Email</h4>
                        <p>vuddph14036@fpt.edu.vn</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; <strong>FPT-Polytechnic </strong>
            </div>
            <div class="credits">
                Họ và Tên: Đặng Đình Vũ <a href="#">https://www.facebook.com/</a>
            </div>
        </div>
    </footer><!-- #footer -->
</div>