<div ng-controller="myCtrl">
  <!----------------------------------------  Intro Section -------------------------------------- -->
  <section id="intro">
    <div class="intro-container">
      <div id="carouselId" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselId" data-slide-to="0" class="active"></li>
          <li data-target="#carouselId" data-slide-to="1"></li>
          <li data-target="#carouselId" data-slide-to="2"></li>
          <li data-target="#carouselId" data-slide-to="3"></li>
          <li data-target="#carouselId" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url(../img/intro-carousel/1.jpg)">
            <div class="carousel-caption ">
              <h2>FPoly - Hà Nội - Ứng Dụng Phần Mềm</h2>
              <p>Ngành ứng dụng phần mềm (UDPM) là chuyên ngành được đào tại tại trường FPT POLYTECHNIC
                với
                mục tiêu đạo
                tạo cử nhân CNTT chuyên về lĩnh vực phát triển phần mềm. Khi ra trường sinh viên sẽ có
                kiến
                thức lập
                trình, kỹ năng phát triển và quản lý điều hành các công đoạn trong dự án phần mềm.</p>
              <a href="#!learning" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(../img/intro-carousel/2.jpg)">
            <div class="carousel-caption ">
              <h2>Kết Nối Cộng Đồng Sinh Viên FPT Polytechnic</h2>
              <p>Kết nối cộng đồng sinh viên FPT Polytechnic là nơi kết nối tập hợp những bạn đang và sẽ
                làm
                sinh viên
                của FPT Polytechnic. Tại đây, các bạn có t… </p>
              <a href="#!learning" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(../img/intro-carousel/3.jpg)">
            <div class="carousel-caption ">
              <h2>Trường Cao đẳng FPT Polytechnic</h2>
              <p>Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
                4,2 km</p>
              <a href="#!learning" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(../img/intro-carousel/4.jpg)">
            <div class="carousel-caption ">
              <h2>Bộ môn CNTT UD FPOLY HN</h2>
              <p>Đào tạo
                - THIẾT KẾ WEBSITE
                - LẬP TRÌNH MÁY TÍNH – THIẾT BỊ DI ĐỘNG & IoT
                - CNTT – ỨNG DỤNG PHẦN MỀM</p>
              <a href="#!learning" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="carousel-item" style="background-image: url(../img/intro-carousel/5.jpg)">
            <div class="carousel-caption ">
              <h2>Học Lập Trình Web SV Fpoly</h2>
              <p>Nhận tất cả dữ liệu từ phía bộ phận thiết kế web thực hiện chuyển từ giao diện web tĩnh
                thành
                một
                website hoàn chỉnh, có tương tác với người dùng, cơ sở dữ liệu thông qua ngôn ngữ máy
                tính.
              </p>
              <a href="#!learning" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    </div>
  </section>
  <!----------------------------------------  main-------------------------------------- -->
  <main id="main">
    <section id="featured-services">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 box">
            <i><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/HTML5_logo_resized.svg/1200px-HTML5_logo_resized.svg.png"
                width="20%" alt="HTML"></i>
            <h4 class="title"><a href="">HTML</a></h4>
            <p class="description">HTML là viết tắt của Hyper Text Markup Language
              HTML là ngôn ngữ đánh dấu tiêu chuẩn để tạo các trang Web
              HTML mô tả cấu trúc của một trang Web
              HTML bao gồm một loạt các phần tử
              , v.v.</p>
          </div>
          <div class="col-lg-4 mt-3 box">
            <i><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/512px-Bootstrap_logo.svg.png"
                width="30%" alt="BOSSTRAP"></i>
            <h4 class="title"><a href="">Bootstrap</a></h4>
            <p class="description">Bootstrap đã trở thành một trong những framework front-end và các dự án
              mã
              nguồn mở
              phổ biến nhất trên thế giới....</p>
          </div>
          <div class="col-lg-4 box box-bg">
            <i><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png"
                width="20%" alt="CSS"></i>
            <h4 class="title"><a href="">CSS</a></h4>
            <p class="description">CSS stands for Cascading Style Sheets
              CSS describes how HTML elements are to be displayed on screen, paper, or in other media
              CSS saves a lot of work...</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
        Contact Section
      ============================-->
    <section id="contact" class="section-bg wow fadeInUp text-center">
      <div class="container">
        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Tòa nhà FPT Polytechnic, P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội
              </address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">0965-528-JQK</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">vuddph14036@fpt.edu.vn</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center" data-toggle="modal" data-target="#modelId"><button type="button"
                class="btn btn-outline-success">Send Message</button></div>
            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Send Message Done!!!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->
  </main>
</div>