<div ng-controller="register_ctrl">
  <!----------------------------------------  Intro Section -------------------------------------- -->
  <section id="intro">
    <div class="row">
      <div class="col-lg-5 col-12" id="register">
        <div class="container">
          <form action="" name="formStartNow">
            <h4 class="mt-3 mb-4">Start now</h4>
            <div class="mt-3">
              <input
                type="text"
                name="username"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Username"
                ng-model="accountRegister.username"
                autocomplete="off"
                required
                minlength="7"
              />
              <div
                ng-hide="formStartNow.username.$untouched || formStartNow.username.$valid"
              >
                <small ng-show="formStartNow.username.$error.required" class="">
                  Không được để trống
                </small>
                <small
                  ng-show="formStartNow.username.$error.minlength"
                  class="text-danger fst-italic"
                >
                  Username không dưới 7 ký tự
                </small>
              </div>
            </div>
            <div class="mt-3">
              <input
                type="password"
                name="password"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Password"
                ng-model="accountRegister.password"
                autocomplete="off"
                ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                ng-minlength="7"
                ng-max="16"
                required
              />
              <div
                ng-hide="formStartNow.password.$untouched || formStartNow.password.$valid"
              >
                <small ng-show="formStartNow.password.$error.required" class="">
                  Không được để trống
                </small>
                <small
                  ng-show="formStartNow.password.$error.minlength"
                  class=""
                >
                  Mật khẩu phải 7 đến 16 ký tự
                </small>
                <small ng-show="formStartNow.password.$error.pattern" class="">
                  Mật khẩu phải chứ ít nhất một ký tự ghi hoa
                </small>
              </div>
            </div>

            <div class="mt-3">
              <input
                type="password"
                class="form-control"
                name="rePassword"
                id="exampleFormControlInput1"
                placeholder="Confirm Password"
                ng-model="rePassword"
                autocomplete="off"
                required
                data-password-verify="accountRegister.password"
              />
              <div
                ng-hide="formStartNow.rePassword.$untouched || formStartNow.rePassword.$valid"
              >
                <small
                  ng-show="formStartNow.rePassword.$error.required"
                  class=""
                >
                  Không được để trống
                </small>
                <small
                  ng-show="formStartNow.rePassword.$error.passwordVerify"
                  class=""
                >
                  Mật khẩu không khớp!!!
                </small>
              </div>
            </div>
            <div class="mt-3">
              <input
                type="text"
                name="fullname"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Fullname"
                ng-model="accountRegister.fullname"
                autocomplete="off"
                ng-pattern=""
                required
              />
              <div
                ng-hide="formStartNow.fullname.$untouched || formStartNow.fullname.$valid"
              >
                <small ng-show="formStartNow.fullname.$error.required" class="">
                  Không được để trống
                </small>
              </div>
            </div>
            <div class="mt-3">
              <input
                type="email"
                name="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="email@example.com"
                ng-model="accountRegister.email"
                autocomplete="off"
                required
              />
              <div
                ng-hide="formStartNow.email.$untouched || formStartNow.email.$valid"
              >
                <small ng-show="formStartNow.email.$error.required" class="">
                  Không được để trống
                </small>
                <small ng-show="formStartNow.email.$error.email" class="">
                  Email không đúng định dạng
                </small>
              </div>
            </div>
            <div class="mt-3">
              <input
                ng-model="accountRegister.birthday"
                name="birthday"
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Ngày sinh (yyyy-mm-dd)"
                pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                required
              />

              <div
                ng-hide="formStartNow.birthday.$untouched || formStartNow.birthday.$valid"
              >
                <small
                  ng-show="formStartNow.birthday.$error.required"
                  class="fst-italic text-danger"
                  >Vui lòng nhập ngày sinh</small
                >
                <small
                  ng-show="formStartNow.birthday.$error.pattern"
                  class="fst-italic text-danger"
                  >Không đúng định dạng ngày sinh</small
                >
              </div>
            </div>
            <div class="mt-3">
              <input
                type="text"
                name="schoolfee"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Schoolfee"
                ng-model="accountRegister.schoolfee"
                autocomplete="off"
                required
              />
              <div
                ng-hide="formStartNow.schoolfee.$untouched || formStartNow.schoolfee.$valid"
              >
                <small
                  ng-show="formStartNow.schoolfee.$error.required"
                  class=""
                >
                  Không được để trống
                </small>
              </div>
            </div>
            <div class="mt-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Gender</label
              >
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                  ng-model="accountRegister.gender"
                  value="true"
                  ng-checked="true"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Male
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault2"
                  ng-model="accountRegister.gender"
                  value="false"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  Felmale
                </label>
              </div>
            </div>

            <div class="mt-3">
              <div class="form-check">
                <input
                  class="form-check-input"
                  name="checkBox"
                  type="checkbox"
                  value="true"
                  ng-model="chkselct"
                  id="flexCheckIndeterminate"
                  required
                />
                <label class="form-check-label" for="flexCheckIndeterminate">
                  I agree to Polylearn Terms of use
                </label>
                <div
                  ng-hide="formStartNow.checkBox.$untouched || formStartNow.checkBox.$valid"
                >
                  <small
                    ng-show="formStartNow.checkBox.$error.required"
                    id="schoolfee"
                    class="text-danger"
                    >Bạn có đồng ý đăng ký tài khoản ?</small
                  >
                </div>
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="d-flex justify-content-center col-12">
                <a href="../template/list-exam.html"
                  ><button
                    class="btn btn-primary justify-content-center"
                    type="submit"
                    ng-click="register()"
                    ng-disabled="formStartNow.$invalid"
                  >
                    Start Now
                  </button></a
                >
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="icon-cat col-lg-7 col-12">
        <img src="../img/imagePic/coding1.gif" alt="" class="w-75" />
      </div>
    </div>
  </section>
</div>
